<!DOCTYPE html>

<head>
    <title>Amumu - Champion Builder</title>
    <link rel="icon" href="Icon.png">
    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
        body {
            background-image: url("http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Amumu_0.jpg");
        }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="src.js"></script>
</head>

<body>
    <header>
        <a href="..\index.html"><img src="MiniLogo.png"></a>
    </header>
    <div data-ng-app="amumuJson" data-ng-controller="amumuCtrl" data-ng-init="model.range = 1">
        <table class="statTable">
            <tr>
                <td class="stat">Health: </td>
                <td class="value">{{myData.hp + myData.hpperlevel*(model.range - 1) + stats.health| number}}</td>
                <td class="stat">Attack Damage:</td>
                <td class="value">{{myData.attackdamage + myData.attackdamageperlevel*(model.range - 1) + stats.attackDamage| number}}</td>
            </tr>
            <tr>
                <td class="stat">Health Regen:</td>
                <td class="value">{{(myData.hpregen + myData.hpregenperlevel*(model.range - 1)) * (1 + stats.healthRegen)| number}}</td>
                <td class="stat">Attack Speed:</td>
                <td class="value">{{0.625/(1+myData.attackspeedoffset) * (1 + (3.22 * (7/400 * (model.range * model.range - 1) + 267/400 * (model.range - 1)) + (100 * stats.attackSpeed))/100)| number}}</td>
            </tr>
            <tr>
                <td class="stat">Mana:</td>
                <td class="value">{{myData.mp + myData.mpperlevel*(model.range - 1) + stats.mana| number}}</td>
                <td class="stat">Crit Chance:</td>
                <td class="value">{{(myData.crit + stats.critChance)*100| number}}%</td>
            </tr>
            <tr>
                <td class="stat">Mana Regen:</td>
                <td class="value">{{(myData.mpregen + myData.mpregenperlevel*(model.range - 1)) * (1 + stats.manaRegen)| number}}</td>
                <td class="stat">Ability Power:</td>
                <td class="value">{{stats.abilityPower| number}}</td>
            </tr>
            <tr>
                <td class="stat">Armor:</td>
                <td class="value">{{myData.armor + myData.armorperlevel*(model.range - 1) + stats.armor| number}}</td>
                <td class="stat">Life Steal:</td>
                <td class="value">{{100 * stats.lifeSteal| number}}%</td>
            </tr>
            <tr>
                <td class="stat">Magic Resist:</td>
                <td class="value">{{myData.spellblock + myData.spellblockperlevel*(model.range - 1) + stats.magicResist| number}}</td>
                <td class="stat">Armor Pen (Flat):</td>
                <td class="value">{{0 + stats.flatArmorPen| number}}</td>
            </tr>
            <tr>
                <td class="stat">Movement Speed:</td>
                <td class="value">{{myData.movespeed + stats.movementSpeed| number}}</td>
                <td class="stat">Armor Pen (Percent):</td>
                <td class="value">{{0 + stats.percentArmorPen| number}}%</td>
            </tr>
            <tr>
                <td class="stat">Cooldown Reduction:</td>
                <td class="value">{{0 + stats.cdr| number}}</td>
                <td class="stat">Magic Pen (Flat):</td>
                <td class="value">{{0 + stats.flatMagicPen| number}}</td>
            </tr>
            <tr>
                <td class="stat">Tenacity:</td>
                <td class="value">{{0 + stats.tenacity| number}}%</td>
                <td class="stat">Magic Pen (Percent):</td>
                <td class="value">{{0 + stats.percentMagicPen| number}}%</td>

            </tr>
            <tr>
                <td id="lvl" colspan="2">Champion Level: {{model.range}}</td>
                <td id="lvl" colspan="2"><input type="range" ng-model="model.range" min="1" max="18"></input>
                </td>
            </tr>
        </table>
        <br>
        <br>
        <table class="build">
            <tr>
                <td class="build" data-ng-click="removeItem(0)"><img id="build0" src="" style="width:56px;height:56px;"></td>
                <td class="build" data-ng-click="removeItem(1)"><img id="build1" src="" style="width:56px;height:56px;"></td>
                <td class="build" data-ng-click="removeItem(2)"><img id="build2" src="" style="width:56px;height:56px;"></td>
                <td class="build" data-ng-click="removeItem(3)"><img id="build3" src="" style="width:56px;height:56px;"></td>
                <td class="build" data-ng-click="removeItem(4)"><img id="build4" src="" style="width:56px;height:56px;"></td>
                <td class="build" data-ng-click="removeItem(5)"><img id="build5" src="" style="width:56px;height:56px;"></td>
            </tr>
        </table>

        <footer>
            <table class="itemTable">
                <tr class="itemTable">
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3001.png" alt="Abyssal Sceptor" id="itemIcon" data-ng-click="addItem(3001)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3105.png" alt="Aegis of the Legion" id="itemIcon" data-ng-click="addItem(3105)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3113.png" alt="Aether Wisp" id="itemIcon" data-ng-click="addItem(3113)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1052.png" alt="Amplifying Tome" id="itemIcon" data-ng-click="addItem(1052)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3301.png" alt="Ancient Coin" id="itemIcon" data-ng-click="addItem(3301)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3003.png" alt="Archangel's Staff" id="itemIcon" data-ng-click="addItem(3003)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3504.png" alt="Ardent Censer" id="itemIcon" data-ng-click="addItem(3504)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3174.png" alt="Athene's Unholy Grail" id="itemIcon" data-ng-click="addItem(3174)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1038.png" alt="B.F. Sword" id="itemIcon" data-ng-click="addItem(1038)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3751.png" alt="Bami's Cinder" id="itemIcon" data-ng-click="addItem(3751)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3060.png" alt="Banner of Command" id="itemIcon" data-ng-click="addItem(3060)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3102.png" alt="Banshee's Veil" id="itemIcon" data-ng-click="addItem(3102)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3006.png" alt="Berserker's Greaves" id="itemIcon" data-ng-click="addItem(3006)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3144.png" alt="Bilgewater Cutlass" id="itemIcon" data-ng-click="addItem(3144)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3153.png" alt="Blade of the Ruined King" id="itemIcon" data-ng-click="addItem(3153)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1026.png" alt="Blasting Wand" id="itemIcon" data-ng-click="addItem(1026)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3117.png" alt="Boots of Mobility" id="itemIcon" data-ng-click="addItem(3117)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1001.png" alt="Boots of Speed" id="itemIcon" data-ng-click="addItem(1001)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3009.png" alt="Boots of Swiftness" id="itemIcon" data-ng-click="addItem(3009)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1051.png" alt="Brawler's Gloves" id="itemIcon" data-ng-click="addItem(1051)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3010.png" alt="Catalyst of Aeons" id="itemIcon" data-ng-click="addItem(3010)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3133.png" alt="Caulfield's Warhammer" id="itemIcon" data-ng-click="addItem(3133)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1031.png" alt="Chain Vest" id="itemIcon" data-ng-click="addItem(1031)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3028.png" alt="Chalice of Harmony" id="itemIcon" data-ng-click="addItem(3028)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1018.png" alt="Cloak of Agility" id="itemIcon" data-ng-click="addItem(1018)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1029.png" alt="Cloth Armor" id="itemIcon" data-ng-click="addItem(1029)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3801.png" alt="Crystalline Bracer" id="itemIcon" data-ng-click="addItem(3801)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1083.png" alt="Cull" id="itemIcon" data-ng-click="addItem(1083)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1042.png" alt="Dagger" id="itemIcon" data-ng-click="addItem(1042)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3742.png" alt="Dead Man's Plate" id="itemIcon" data-ng-click="addItem(3742)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3812.png" alt="Death's Dance" id="itemIcon" data-ng-click="addItem(3812)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1055.png" alt="Doran's Blade" id="itemIcon" data-ng-click="addItem(1055)">
                    </td>
                </tr>
                <tr class="itemTable">
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1056.png" alt="Doran's Ring" id="itemIcon" data-ng-click="addItem(1056)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1054.png" alt="Doran's Shield" id="itemIcon" data-ng-click="addItem(1054)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3147.png" alt="Duskblade of Draktharr" id="itemIcon" data-ng-click="addItem(3147)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3508.png" alt="Essence Reaver" id="itemIcon" data-ng-click="addItem(3508)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3123.png" alt="Executioner's Calling" id="itemIcon" data-ng-click="addItem(3123)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/2303.png" alt="Eye of the Equinox" id="itemIcon" data-ng-click="addItem(2303)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/2302.png" alt="Eye of the Oasis" id="itemIcon" data-ng-click="addItem(2302)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/2301.png" alt="Eye of the Watchers" id="itemIcon" data-ng-click="addItem(2301)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3401.png" alt="Face of the Mountain" id="itemIcon" data-ng-click="addItem(3401)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1004.png" alt="Faerie Charm" id="itemIcon" data-ng-click="addItem(1004)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3108.png" alt="Fiendish Codex" id="itemIcon" data-ng-click="addItem(3108)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3114.png" alt="Forbidden Idol" id="itemIcon" data-ng-click="addItem(3114)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3092.png" alt="Frost Queen's Claim" id="itemIcon" data-ng-click="addItem(3092)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3098.png" alt="Frostfang" id="itemIcon" data-ng-click="addItem(3098)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3110.png" alt="Frozen Heart" id="itemIcon" data-ng-click="addItem(3110)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3022.png" alt="Frozen Mallet" id="itemIcon" data-ng-click="addItem(3022)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1011.png" alt="Giant's Belt" id="itemIcon" data-ng-click="addItem(1011)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3024.png" alt="Glacial Shroud" id="itemIcon" data-ng-click="addItem(3024)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3026.png" alt="Guardian Angel" id="itemIcon" data-ng-click="addItem(3026)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3124.png" alt="Guinsoo's Rageblade" id="itemIcon" data-ng-click="addItem(3124)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3136.png" alt="Haunting Guise" id="itemIcon" data-ng-click="addItem(3136)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3155.png" alt="Hexdrinker" id="itemIcon" data-ng-click="addItem(3155)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3030.png" alt="Hextech GLP-800" id="itemIcon" data-ng-click="addItem(3030)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3146.png" alt="Hextech Gunblade" id="itemIcon" data-ng-click="addItem(3146)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3152.png" alt="Hextech Protobelt-01" id="itemIcon" data-ng-click="addItem(3152)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3145.png" alt="Hextech Revolver" id="itemIcon" data-ng-click="addItem(3145)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1041.png" alt="Hunter's Machete" id="itemIcon" data-ng-click="addItem(1041)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1039.png" alt="Hunter's Talisman" id="itemIcon" data-ng-click="addItem(1039)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3025.png" alt="Iceborn Gauntlet" id="itemIcon" data-ng-click="addItem(3025)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3031.png" alt="Infinity Edge" id="itemIcon" data-ng-click="addItem(3031)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3158.png" alt="Ionian Boots of Lucidity" id="itemIcon" data-ng-click="addItem(3158)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3052.png" alt="Jaurim's Fist" id="itemIcon" data-ng-click="addItem(3052)">
                    </td>
                </tr>
                <tr class="itemTable">
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3067.png" alt="Kindlegem" id="itemIcon" data-ng-click="addItem(3067)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/2015.png" alt="Kircheis Shard" id="itemIcon" data-ng-click="addItem(2015)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3035.png" alt="Last Whisper" id="itemIcon" data-ng-click="addItem(3035)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3151.png" alt="Liandry's Torment'" id="itemIcon" data-ng-click="addItem(3151)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3100.png" alt="Lich Bane" id="itemIcon" data-ng-click="addItem(3100)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3190.png" alt="Locket of the Iron Solari" id="itemIcon" data-ng-click="addItem(3190)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1036.png" alt="Long Sword" id="itemIcon" data-ng-click="addItem(1036)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3036.png" alt="Lord Dominik's Regards" id="itemIcon" data-ng-click="addItem(3036)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3802.png" alt="Lost Chapter" id="itemIcon" data-ng-click="addItem(3802)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3285.png" alt="Luden's Echo" id="itemIcon" data-ng-click="addItem(3285)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3004.png" alt="Manamune" id="itemIcon" data-ng-click="addItem(3004)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3156.png" alt="Maw of Malmortius" id="itemIcon" data-ng-click="addItem(3156)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3041.png" alt="Mejai's Soulstealer" id="itemIcon" data-ng-click="addItem(3041)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3139.png" alt="Mercurial Scimitar" id="itemIcon" data-ng-click="addItem(3139)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3111.png" alt="Mercury's Treads" id="itemIcon" data-ng-click="addItem(3111)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3222.png" alt="Mikael's Crucible" id="itemIcon" data-ng-click="addItem(3222)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3165.png" alt="Morellonomicon" id="itemIcon" data-ng-click="addItem(3165)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3033.png" alt="Mortal Reminder" id="itemIcon" data-ng-click="addItem(3033)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3042.png" alt="Muramana" id="itemIcon" data-ng-click="addItem(3042)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3115.png" alt="Nashor's Tooth" id="itemIcon" data-ng-click="addItem(3115)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1058.png" alt="Needlessly Large Rod" id="itemIcon" data-ng-click="addItem(1058)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1057.png" alt="Negatron Cloak" id="itemIcon" data-ng-click="addItem(1057)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3047.png" alt="Ninja Tabi" id="itemIcon" data-ng-click="addItem(3047)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3096.png" alt="Nomad's Medallion" id="itemIcon" data-ng-click="addItem(3096)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1033.png" alt="Null-Magic Mantle" id="itemIcon" data-ng-click="addItem(1033)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3056.png" alt="Ohmwrecker" id="itemIcon" data-ng-click="addItem(3056)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3044.png" alt="Phage" id="itemIcon" data-ng-click="addItem(3044)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3046.png" alt="Phantom Dancer" id="itemIcon" data-ng-click="addItem(3046)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1037.png" alt="Pickeaxe" id="itemIcon" data-ng-click="addItem(1037)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3140.png" alt="Quicksilver Sash" id="itemIcon" data-ng-click="addItem(3140)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3089.png" alt="Rabadon's Death Cap" id="itemIcon" data-ng-click="addItem(3089)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3143.png" alt="Randuin's Omen" id="itemIcon" data-ng-click="addItem(3143)">
                    </td>
                </tr>
                <tr class="itemTable">
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3094.png" alt="Rapid Firecannon" id="itemIcon" data-ng-click="addItem(3094)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/2053.png" alt="Raptor Cloak" id="itemIcon" data-ng-click="addItem(2043)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3074.png" alt="Ravenous Hydra" id="itemIcon" data-ng-click="addItem(3074)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1043.png" alt="Recurve Bow" id="itemIcon" data-ng-click="addItem(1043)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1006.png" alt="Rejuvenation Bead" id="itemIcon" data-ng-click="addItem(1006)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3302.png" alt="Relic Shield" id="itemIcon" data-ng-click="addItem(3302)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3800.png" alt="Righteous Glory" id="itemIcon" data-ng-click="addItem(3800)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3027.png" alt="Rod of Ages" id="itemIcon" data-ng-click="addItem(3027)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1028.png" alt="Ruby Crystal" id="itemIcon" data-ng-click="addItem(1028)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/2045.png" alt="Ruby Sightstone" id="itemIcon" data-ng-click="addItem(2045)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3085.png" alt="Runaan's Hurricane" id="itemIcon" data-ng-click="addItem(3085)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3116.png" alt="Rylai's Crystal Sceptor" id="itemIcon" data-ng-click="addItem(3116)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1027.png" alt="Sapphire Crystal" id="itemIcon" data-ng-click="addItem(1027)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3191.png" alt="Seeker's Armguard" id="itemIcon" data-ng-click="addItem(3191)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3040.png" alt="Seraph's Embrace" id="itemIcon" data-ng-click="addItem(3040)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3134.png" alt="Serrated Dirk" id="itemIcon" data-ng-click="addItem(3134)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3057.png" alt="Sheen" id="itemIcon" data-ng-click="addItem(3057)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/2049.png" alt="Sightstone" id="itemIcon" data-ng-click="addItem(2049)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3715.png" alt="Skirmisher's Sabre" id="itemIcon" data-ng-click="addItem(3715)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1419.png" alt="Skirmisher's Sabre - Bloodrazer" id="itemIcon" data-ng-click="addItem(1419)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1413.png" alt="Skirmisher's Sabre - Cinderhulk" id="itemIcon" data-ng-click="addItem(1413)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1414.png" alt="Skirmisher's Sabre - Runic Echoes" id="itemIcon" data-ng-click="addItem(1414)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1412.png" alt="Skirmisher's Sabre - Warrior" id="itemIcon" data-ng-click="addItem(1412)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3020.png" alt="Sorcererer's Shoes" id="itemIcon" data-ng-click="addItem(3020)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3211.png" alt="Spectre's Cowl" id="itemIcon" data-ng-click="addItem(3211)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3303.png" alt="Spelltheif's Edge" id="itemIcon" data-ng-click="addItem(3303)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3065.png" alt="Spirit Visage" id="itemIcon" data-ng-click="addItem(3065)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3706.png" alt="Stalker's Blade" id="itemIcon" data-ng-click="addItem(3706)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1416.png" alt="Stalker's Blade - Bloodrazer" id="itemIcon" data-ng-click="addItem(1416)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1401.png" alt="Stalker's Blade - Cinderhulk" id="itemIcon" data-ng-click="addItem(1401)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1402.png" alt="Stalker's Blade - Runic Echoes" id="itemIcon" data-ng-click="addItem(1402)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1400.png" alt="Stalker's Blade - Warrior" id="itemIcon" data-ng-click="addItem(1400)">
                    </td>
                </tr>
                <tr class="itemTable">
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3087.png" alt="Statikk Shiv" id="itemIcon" data-ng-click="addItem(3087)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3053.png" alt="Sterak's Gage" id="itemIcon" data-ng-click="addItem(3053)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3101.png" alt="Stinger" id="itemIcon" data-ng-click="addItem(3101)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3068.png" alt="Sunfire Cape" id="itemIcon" data-ng-click="addItem(3068)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3069.png" alt="Talisman of Ascension" id="itemIcon" data-ng-click="addItem(3069)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3097.png" alt="Targon's Brace" id="itemIcon" data-ng-click="addItem(3097)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3070.png" alt="Tear of the Goddess" id="itemIcon" data-ng-click="addItem(3070)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3071.png" alt="The Black Cleaver" id="itemIcon" data-ng-click="addItem(3071)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3072.png" alt="The Bloodthirster" id="itemIcon" data-ng-click="addItem(3072)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1082.png" alt="The Dark Seal" id="itemIcon" data-ng-click="addItem(1082)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3075.png" alt="Thornmail" id="itemIcon" data-ng-click="addItem(3075)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3077.png" alt="Tiamat" id="itemIcon" data-ng-click="addItem(3077)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3748.png" alt="Titanic Hydra" id="itemIcon" data-ng-click="addItem(3748)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3711.png" alt="Tracker's Knife" id="itemIcon" data-ng-click="addItem(3711)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1418.png" alt="Tracker's Knife - Bloodrazer" id="itemIcon" data-ng-click="addItem(1418)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1409.png" alt="Tracker's Knife - Cinderhulk" id="itemIcon" data-ng-click="addItem(1409)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1410.png" alt="Tracker's Knife - Runic Echoes" id="itemIcon" data-ng-click="addItem(1410)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1408.png" alt="Tracker's Knife - Warrior" id="itemIcon" data-ng-click="addItem(1408)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3078.png" alt="Trinity Force" id="itemIcon" data-ng-click="addItem(3078)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/1053.png" alt="Vampiric Scepter" id="itemIcon" data-ng-click="addItem(1053)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3135.png" alt="Void Staff" id="itemIcon" data-ng-click="addItem(3135)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3082.png" alt="Warden's Mail" id="itemIcon" data-ng-click="addItem(3082)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3083.png" alt="Warmog's Armor" id="itemIcon" data-ng-click="addItem(3083)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3091.png" alt="Wit's End" id="itemIcon" data-ng-click="addItem(3091)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3142.png" alt="Youmuu's Ghostblad" id="itemIcon" data-ng-click="addItem(3142)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3086.png" alt="Zeal" id="itemIcon" data-ng-click="addItem(3086)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3050.png" alt="Zeke's Harbinger" id="itemIcon" data-ng-click="addItem(3050)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3157.png" alt="Zhonya's Hourglass" id="itemIcon" data-ng-click="addItem(3157)">
                    </td>
                    <td class="itemTable">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/item/3512.png" alt="Zz'rot Portal" id="itemIcon" data-ng-click="addItem(3512)">
                    </td>
                </tr>
            </table>
            &copy;ChampionBuilder is not afilliated with Riot Games in any way.<br>Champions, Images, and Statistics are property of Riot Games
        </footer>
    </div>
</body>

</html>
